#menu {
    display: inline-block;
    text-align: center;
    padding: 16px 0;
    margin: 10px 0;
    list-style: none;
    background-color: #f0f0f0;
    border-radius: 10px;
}

#menu li {
    display: inline-block;
    font-size: 16px;
    margin: 0 5px;
}

#menu li a {
    text-decoration: none;
    color: slategray;
    cursor: pointer;
    margin-right: 10px;
}

.menu2 {
    text-align: center;
    margin-top: 20px;
}

#menu li a:link {
color:#0000ff;
text-decoration: none;
}

#menu li a:visited {
color:#00ff00;
}

#menu li a:hover {
color:#ff0000;
font-weight:bold;
text-decoration:underline;
}

#menu li a:active {
color:#00ffff;
}